/*
Style Guide Lines. Remove if you prefer your own library
 */
@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

html {
  font-family: 'Roboto', sans-serif;
}

body {
	margin: 0px;
	background-color: #f2f2f2;
}


