.chatBox {

    position:relative;
    text-align:left;
    margin:0 auto;
    //margin-bottom:0px;
    //padding:10px;
    background:#fff;
    height:370px;
    width:570px;
    border:4px solid #000;
    overflow:auto;
   
    //====
    float:left;
   
    
    
}


.listy {
list-style:none;
word-wrap : break-word;
margin:0;
padding:0;
}

ul li {
padding:5px 10px;

}


ul li:nth-child(odd) {
background:#eee;
}


.chatBox form {


padding: 3px; 
bottom: 0px; 
width: 98%; 

}

input {

border: 0px; 
padding: 10px; 
width: 100%; 

-webkit-transition: background-color .15s ease-out;
-moz-transition: background-color .15s ease-out;
-o-transition: background-color .15s ease-out;
transition: background-color .15s ease-out;

}

input:focus {
background-color: #001A33;
outline:none;
color:red;
}

form button {
width: 9%; 
background: rgb(130, 224, 255); 
border: none; 
padding: 10px; }


#chatInput {

position:relative;
margin:0 auto;
bottom: 0px;
top:10px;
width: 570px;



}