/*  SECTIONS  */
.row {
	clear: both;
	padding: 0px;
	margin: 0px;

      &__group:before,
      &__group:after { content:""; display:table;clear:both; }

      &__group { zoom:1; /* For IE 6/7 */ }
}


.col:first-child { margin-left: 0; }

.col:nth-child(4n + 1) { margin-left: 0; }



.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;

          /*  GRID OF TWELVE  */
        &__col1212 {
          width: 100%;
        }

        &__col1112 {
            width: 91.53%;
        }
        &__col1012 {
            width: 83.06%;
        }

        &__col912 {
            width: 74.6%;
        }

        &__col812 {
            width: 66.13%;
        }

        &__col712 {
            width: 57.66%;
        }

        &__col612 {
            width: 49.2%;
        }

        &__col512 {
            width: 40.73%;
        }

        &__col412 {
            width: 32.26%;
        }

        &__col312 {
            width: 23.8%;
        }

        &__col212 {
            width: 15.33%;
        }

        &__col112 {
            width: 6.866%;
        }

        /*  GO FULL WIDTH BELOW 480 PIXELS */
        @media only screen and (max-width: 480px) {
          .col {  margin: 1% 0 1% 0%; }
            
            .col-1-12, .col-2-12, .col-3-12, .col-4-12, .col-5-12, .col-6-12, .col-7-12, .col-8-12, .col-9-12, .col-10-12, .col-11-12, .col-12-12 {
          width: 100%; 
          }
        }

}


